@model PersonResponse
@{
	ViewBag.Title = "Delete Person";
	ViewBag.CurrentUrl = "~Persons.Delete";
}
<a asp-controller="Persons" asp-action="Index" class="link-hover">Back to Persons List</a>
<h2>Delete Contact</h2>
<h3>Are you sure you want to delete it?</h3>

<div class="w-50">
	<form asp.asp-controller="Persons" asp.action="Delete" method="post">

		<input type="hidden" asp-for="PersonId" />
		@*Person Name*@     @*label for="" and input id="" is the same *@
		<div class="form-field flex">
			<div class="w-25">
				<label asp-for="PersonName" class="form-label pt">Person Name</label>
			</div>
			<div class="flex-1">
				<input type="text" asp-for="PersonName" class="form-input" disabled="disabled"/>
				<span asp-validation-for="PersonName" class="text-red"></span>
			</div>
		</div>

		@*Email*@     @*label for="" and input id="" is the same *@
		<div class="form-field flex">
			<div class="w-25">
				<label asp-for="Email" class="form-label">Email</label>
			</div>
			<div class="flex-1">
				<input asp-for="Email" class="form-input" disabled="disabled"/>
				<span asp-validation-for="Email" class="text-red"></span>
			</div>
		</div>


		@*Submit Button*@
		<div class="form-field flex">
			<div class="w-25">
			</div>
			<div class="flex-1">
				<button class="button-red-back button">Delete</button>
				@if(ViewBag.erros!=null)
				{
					foreach(var error in ViewBag.errors)
					{
						<div class="text-red ml">
							<ul>
								<li class="ml">@error</li>
							</ul>
						</div>
					}
				}
			</div>

		</div>
	</form>
</div>
@section scripts{
	<script src=" https: //cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
			asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
	<script src=" https: //cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous"
			referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
	<script src=" https: //cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg=="
			crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}
